[submodule "/pico-sdk"]
	path = /pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "/micro_ros_raspberrypi_pico_sdk"]
	path = /micro_ros_raspberrypi_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk.git
	branch = foxy
[submodule "picotool"]
	path = picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "ros2_ws/src/micro_ros_setup"]
	path = ros2_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = foxy
