<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Include the thruster Xacro file -->
    <xacro:include filename="thruster.xacro"/>
    <xacro:include filename="inertial_macros.xacro"/>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <link name="base_link">
    </link>

    <!-- Define the base link -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 0"/>
    </joint>
    
    <link name="chassis">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.3 0.05"/>
            </geometry>
            <material name="white"/>
        </visual>
        <xacro:inertial_box mass="0.5" x="0.3" y="0.3" z="0.15">
            <origin xyz="0.15 0 0.075" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="upper_ebay_joint" type="fixed">
        <parent link="chassis"/>
        <child link="upper_ebay"/>
        <origin xyz="0 0 0.1" rpy="0 ${pi/2} 0"/>
    </joint>
    
    <link name="upper_ebay">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.075" length="0.3"/>
            </geometry>
            <material name="white"/>
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.3" radius="0.075">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="lower_ebay_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lower_ebay"/>
        <origin xyz="-0.05 0 -0.1" rpy="0 ${pi/2} 0"/>
    </joint>
    
    <link name="lower_ebay">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.075" length="0.3"/>
            </geometry>
            <material name="white"/>
            <xacro:inertial_cylinder mass="0.1" length="0.3" radius="0.075">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </visual>
    </link>

    <!-- Add multiple thrusters with different positions and orientations -->
    <xacro:thruster name="thruster_0" parent="chassis" xyz="0.2 0.2 0.07" rpy="${pi/4} 0 0" />
    <xacro:thruster name="thruster_1" parent="chassis" xyz="0 0.25 0" rpy="0 ${pi/2} 0" />
    <xacro:thruster name="thruster_2" parent="chassis" xyz="-0.2 0.2 -0.07" rpy="${-pi/4} 0 0" />
    <xacro:thruster name="thruster_3" parent="chassis" xyz="0.2 -0.2 0.07" rpy="${-pi/4} 0 0" />
    <xacro:thruster name="thruster_4" parent="chassis" xyz="0 -0.25 0" rpy="0 ${pi/2} 0" />
    <xacro:thruster name="thruster_5" parent="chassis" xyz="-0.2 -0.2 -0.07" rpy="${pi/4} 0 0" />


</robot>