<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="gps_sensor" params="name parent *origin">
        <link name="${ns}/${name}">

            <!-- <visual>
                <geometry>
                    <mesh filename="${prop_mesh_cw}"/>
                </geometry>
            </visual> -->
        </link>

        <!-- Joint between thruster link and vehicle base link -->    
        <joint name="${ns}/${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${ns}/${parent}" />
            <child link="${ns}/${name}" />
        </joint>

        <gazebo reference="${ns}/${name}">
            <plugin 
                filename="gz-sim-navsat-system"
                name="gz::sim::systems::NavSat">
            </plugin>
            <sensor name="navsat_sensor" type="navsat">
                <always_on>1</always_on>
                <update_rate>30</update_rate>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:depth_sensor name="Bar30" parent="chassis">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:depth_sensor>

</robot>